[Unit]
Description=Felix AI.
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=nano
Environment="ROBOT=felixV2"
ExecStart=/home/nano/start-felix-ai.sh
ExecStop=/usr/bin/docker stop felix-ai
[Install]
WantedBy=multi-user.target

