@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@layer components {

    .section-header {
        @apply prose-sm text-center bg-blue-400  font-semibold
    }

    .image-nav-container {
        @apply flex flex-col items-center py-2 rounded-md
    }

    .capture-buttons-container {
        @apply flex flex-row w-full gap-x-1
    }

    .settings-buttons-container {
        @apply flex flex-row w-full gap-x-1
    }

    .coordinates {
        @apply text-center text-xs font-light w-full bg-gray-900 p-2
    }

    .joystick-container {
        @apply flex flex-row justify-between items-center gap-x-16 px-4
    }

    .button {
        @apply px-2 py-1 text-center font-light text-xs text-nowrap
    }

    .button-blue {
        @apply button bg-blue-500 text-white
    }

    .button-dark {
        @apply button bg-stone-800 text-stone-50 hover:opacity-70
    }

    .button-white {
        @apply button border-gray-50 text-blue-800
    }

    .button-red {
        @apply button bg-red-600 text-white hover:opacity-70
    }

    .button-green {
        @apply button bg-green-800 text-white hover:opacity-70
    }

    .input {
        @apply border px-2 py-1 rounded-md w-full
    }

    .input-center {
        @apply border rounded-md w-full text-center
    }

    .data-grid-4 {
        @apply grid grid-cols-4 border rounded-md text-xs [&>div]:text-center
    }

    .slider {
        @apply flex flex-row gap-x-2 items-end [&>span]:text-xs [&>span]:font-semibold [&>input]:flex-grow p-2
    }

    .slider-vertical {
        @apply slider flex-col items-center
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #101010;
    color: #f0f0f0;
}

